.contact-form
	= render "layouts/frontend/messages"
	= simple_form_for @message, :url => "/admin/messages", :method => :post do |f|
		.row
			.col-lg-12
				= f.input :name, label: false, wrapper: :bootstrap, input_html: {class: "form-contact", placeholder: "Name", required: "required"}

			.col-lg-12
				= f.input :email, as: :email, label: false, input_html: {class: "form-contact", placeholder: "Email", required: "required"}

			.col-lg-12
				= f.input :subject, label: false, input_html: {class: "form-contact", placeholder: "Subject"}

			.col-lg-12
				= f.input :content, as: :text, label: false, input_html: {class: "form-contact-text", placeholder: "Message..."}
		.row
			.form-actions
				.col-lg-6.col-md-6.col-sm-6.col-xs-8
					.pull-right
						= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true

				.col-lg-6.col-md-6.col-sm-6.col-xs-4
					= f.button :submit, "Send", class: "btn btn-primary pull-right btn-send"

		