.discover
	#home
		= render "discover/home"
	#about
		= render "discover/about"	
	#rooms
		= render "discover/rooms"
	#quotes
		= render "discover/quotes"	
	#gallery
		= render "layouts/frontend/gallery"
	#footer     
		= render 'layouts/frontend/footer'
	#button-up
		= render 'layouts/frontend/button_up'

