.diving
	#home
		= render "diving/home"
	#packages
		= render "layouts/frontend/packages"	
	#about
		= render "diving/about"	
	#gallery
		= render "layouts/frontend/gallery"
	#footer     
		= render 'layouts/frontend/footer'
	#button-up
		= render 'layouts/frontend/button_up'