.fishing
	#home
		= render "fishing/home"
	#packages
		= render "layouts/frontend/packages"	
	#about
		= render "fishing/about"
	#gallery
		= render "layouts/frontend/gallery"
	#footer     
		= render 'layouts/frontend/footer'
	#button-up
		= render 'layouts/frontend/button_up'