.home
	.home-container.row.hidden-xs
		.col-lg-6.col-md-6.col-sm-6#section-one
			.image-hover
				= link_to discover_path do
					.home-logo
						= image_tag "frontend/logo.png"
					.center-h
						.center-v
							.home-title#home-discover-font Discover Los Roques
					.home-title-discover-hover
						Discover Los Roques
		.col-lg-6.col-md-6.col-sm-6#section-two
			.home-container-two.row
				- @sections[1, 3].each do |section|
					.col-lg-12.col-md-12.col-sm-12{id: "section-#{section[:selector]}"}
						.image-hover
							%a{href:"#{section[:url]}"}
								.center-h
									.center-v
										.home-title
											= section[:name]
								.home-title-hover
									= section[:name]
	.home-container.visible-xs
		%div#section-title
			= image_tag "frontend/logo.png"
		- @sections.each do |section|
			%div{id:"section-#{section[:selector]}"}
				.image-hover
					%a{href:"#{section[:url]}"}
						.center-h
							.center-v
								- if section[:selector] == "one"
									.home-title#home-discover-font
										= section[:name]
								- else
									.home-title
										= section[:name]