.kiteboarding
	#home
		= render "kiteboarding/home"	
	#packages
		= render "layouts/frontend/packages"
	#about
		= render "kiteboarding/about"
	#gallery
		= render "layouts/frontend/gallery"
	#footer     
		= render 'layouts/frontend/footer'
	#button-up
		= render 'layouts/frontend/button_up'