.reservation
	#home
		= render "reservations/home"
	#form{"ng-init"=>"initReservationModel('#{params[:accomodation]}', '#{@offer.id}', '#{@offer["#{params[:accomodation]}_price".to_sym]}')", style:"padding:50px; width:100%"}
		%form{name:"reservationForm", "ng-submit"=>"postReservation()"}
			.center-h
				.steps-control
					.step.step-1#active
						.center-h
							.center-v
								1
					.step-line
					.step.step-2
						.center-h
							.center-v
								2
					.step-line
					.step.step-3
						.center-h
							.center-v
								3
					.step-line
					.step.step-4
						.center-h
							.center-v
								4
			.reservation-title.ng-cloak{"ng-cloak"=>true}
				{{reservationTitle}}
			.center-h
				.center-v
					.reservation-header{style: "background-image: url('#{@offer.image}')"}
						.header-mask
							%p
								= @offer.title
					#step-1
						= render "reservations/step_one"

					#step-2
						= render "reservations/step_two"

					#step-3
						= render "reservations/step_three"

					#loading{"ng-show"=>"loadingReservation"}
						.center-h
							.center-v
								%i.fa.fa-spinner.fa-pulse

					#step-4
						= render "reservations/step_four"
	#footer
		= render 'layouts/frontend/footer'

