.listing-show-header
	%h5
		= material_icon.md_24.format_quote.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 Descripcion del modulo
		%p{align: "justify"} Un sistema de manejo y control de los testimonios integrado a Keppler-Admin. Cada testimonio es realizados por los turistas de Los Roques y recolectado por Oceanica para dar a conocer las maravillas de este lugar magico.