.listing-show-header
	.actions
		- if can? :update, Quote
			= link_to edit_quote_path(@quote), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.format_quote.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.title")
			.display-value= @quote.title
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.quote")
			.display-value= @quote.quote.html_safe
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.client")
			.display-value= @quote.client
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.country")
			.display-value= @quote.country
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
