.container
	.row
		.col-lg-4.col-md-4.col-sm-12.col-xs-12#about-text
			%h3 
				%b Professional instructors and Equipment
			Oceanica works with the best Diver Masters and Certified Guides of Los Roques. One of our Diver Master is also an Oceanogropher, with 10+ years of experience in Venezuelan waters and always happy to show you the scientific side of the Caribbean sea life. Our team members are also involved in multiple research projects in the archipelago. In you are interested in conduct your own research, participate as volunteer in one of the local investigations or just to strengthen your scientific knowledge in marine biology, let us know and we can prepare a diving package to suit your specific needs.

			We count with brand new Scubapro&reg gear, as we are authorized distributors. All the equipment required for diving is included in our prices. However, if you prefer to bring your own diving equipment you are welcome to do it, but keep in mind the weight restrictions on domestic flights, usually limited to 10-15 kg (22-33 lb) per passenger. Extra Charges are applied for every extra kg. 

		.col-lg-4.col-md-4.col-sm-12.col-xs-12#about-text
			%h3 
				%b Sealife and Diver Conditions
			%br
			Sea life in Los Roques is typical from the Caribbean Sea, but one of the main differences is made by the fishing controls in the National Park as nets and harmful fishing devices are forbidden . This has contributed to a spectacular immaculacy of many healthy reefs and barriers combined with the relaxed fish behaviour that makes them get closer than expected.
			The typical fauna appreciated while diving slightly varies depending on the season and the diver spots, but commonly Parrot fishes of many different species and sizes are found, snappers, groupers, grunts, barracudas, spanish mackerels, permits, jacks, and many other aquarium style colourful fish species like butterfly, trumpet and surgeon fishes, sometimes in stunning schools and with over 30 meters Deep reef barriers that will blow your mind.
			Turtles, nurse sharks, lobsters, stingrays, mantas and spotted eagle rays are seen very often, mostly in the Southern and Eastern Barriers where also dolphins and other species occasionally surprise divers.
		.col-lg-4.col-md-4.col-sm-12.col-xs-12#about-text	
			%h3 
				%b Courses and Certifications
			%br
			We offer basic open water, advanced open water and diver master courses certified by PADI&reg and SSI&reg. For the experienced divers looking to improve their skills, we offer courses in night diving, underwater naturalist, buoyancy control, among others. If you are new to diving or have a certification already, we have a package to suit your needs.
			You don't need be certified diver, with the Padi&reg Discover Scuba Diver or the SSi&reg Try Scuba you can experience diving with the very basic teachings, the whole experience will take only haif a day from your vacation.
			Occasionally we can offer instructor courses and clinics of special instructors or personalities. In the past some free diving clinics have been offered with World Guinness Record Holders and free diving World Champions. In the future Oceanica is planning to participate and organize these type of events.
