.listing-show-header
	%h5
		= material_icon.md_24.perm_media.css_class("md-light") 
		= "Galerías"
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	.list
		%h5 
			= t("model.#{controller_name.singularize}.description.title")
		%p{align:"justify"} 
			Un sistema de manejo y control de las distintas galerias de Oceanica integrado a Keppler-Admin. Este módulo puede almacenar y ordenar imágenes de los paisajes y expereriencias en Los Roques.