%pageslide.card{ "ps-open"=>"sidebar", "ps-auto-close" => true }
  .profile-menu.bgc-red-500
    .profile-pic
      = image_tag "#{(request.ssl? ? 'https://secure' : 'http://www')}.gravatar.com/avatar/#{Digest::MD5.hexdigest current_user.email}?s=60", class: "avatar"
    .profile-info
      = current_user.name
  %ul.pageslide-menu.collapsible{"data-collapsible" => "accordion"}
    = render "layouts/admin/sidebar_engines_links"
    - if can? :index, Room
      %li
        = tab "Habitaciones", "card_travel", main_app.rooms_path, "rooms"
    - if can? :index, Discount
      %li
        = tab "Descuentos", "card_travel", main_app.discounts_path, "discounts"
    - if can? :index, Reservation
      %li
        = tab "Reservaciones", "event", main_app.reservations_path, "reservations"
    - if can? :index, Package
      %li
        = tab "Paquetes", "redeem", main_app.packages_path, "packages"
    - if can? :index, Activity
      %li
        = tab "Actividades Adicionales", "add_circle", main_app.activities_path, "activities"
    - if can? :index, KepplerCatalogs::Catalog
      %li
        = tab "Galerias", "perm_media",'/admin/catalogs', "KepplerCatalogs::Catalogs"
    - if can? :index, Quote
      %li
        = tab "Testimonios", "format_quote", main_app.quotes_path, "quotes"

    - if can? :index, Customer
      %li
        = tab "Clientes", "face", main_app.customers_path, "customers"

    - if can? :index, User
      %li
        = tab "Usuarios", "person", main_app.users_path, "users"

    - if can? :index, LegalTerm
      %li
        = tab "Terminos Legales", "book", main_app.legal_terms_path, "legal_terms"
