.container 
	.row.about-row
		.col-lg-6.col-md-6.about-column-4
			.about-title
				Kiteboarding in Los Roques  
			Steady trade winds, warm clear water and plenty of white-sand islands and sandbanks make Los Roques an excellent destination for kiteboarding. Winds are stronger from December to June, ranging between 20 to 25 knots, while the water temperature ranges from 25°C (77°) and 30°C (86°F), so you can leave your wetsuit at home.
			Kiteboarding is allowed around many of the islands and cays in the archipelago. Whatever your level is, we can find the perfect spot for you, from calm shallow waters that will allow you to learn in a safe and stress-free environment to beaches with waves for the advanced kiters who want to do wave riding.
		.col-lg-6.col-md-6.about-column-4
			.about-title
				Professional Instructors and Equipment
			Oceanica Los Roques works with experienced certified instructors that can train you from beginning level to work on advanced techniques for the more experienced kiters.
			Due to luggage weight limitations on local flights if you prefer to leave your kite equipment home we offer a wide range of kites, boards and accessories for rent at reasonable price We offer a range of kites, boards, harnesses and accessories for all riding levels and wind conditions. When you book a training course all equipment required is included.
			We offer rescue service on all our lessons or as an option if you kite on your own. If you are looking for a spot in particular we also arrange kite safaris in private boats.

	#kiteboarding-weather.hidden-xs.hidden-sm
		%script{:src => "http://www.windfinder.com/widget/forecast/js/los_roques_cayo_el_muerto?unit_wave=m&unit_rain=mm&unit_temperature=c&unit_wind=kts&columns=3&days=3&show_day=0", :type => "text/javascript"}
