.devise
  .container     
    .devise-horizontal
      .devise-vertical
        .devise-box.card
          .devise-box-header
            .title-app Keppler
          = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f|
            .devise-box-body.row
              .col.s12
                %h5 ¿Haz olvidado tu contraseña?
                %p Envianos tu email para darle las instrucciones a seguir.
              .input-field.col.s12
                = f.email_field :email, :autofocus => true, class: "validate #{'invalid' unless resource.errors.messages.empty?}"
                %label{for: :email} Email
              .devise-errors.col.s12.center-align 
                - resource.errors.each do |name, msg|
                  = msg.capitalize
            .devise-box-footer.row
              .col.s12
                = f.submit 'Enviar', :class => 'right btn '
              .col.s12.devise-logo.center-align.hidden-xs
                = image_tag "admin/inyxtech.png"