%tr{ id: "row-#{package.id}" }
	- if can? :destroy_multiple, Package
		%td.item-check{style:"width: 10%"}
			= link_to "", package_path(package), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{package.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{package.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{package.id}" }

	%td{style:"width: 10%"}
		%span
			= material_icon.md_24.folder_open

	%td{style:"width: 70%"}
		%span
			= package.title
								
	%td{style:"width: 5%"}
		= link_to "#", class: "btn-floating waves-effect waves-light btn-flat dropdown-button", "data-activates" => "package-options-#{package.id}" do
			= material_icon.md_24.more_vert.css_class("md-dark")
		%ul{ id: "package-options", class: "dropdown-content dropdow-content-listing", id: "package-options-#{package.id}"}
			%li
				= link_to 'Ir a ofertas', package_offers_path(package.id)