.container
	.row.about-row
		.col-lg-6.col-md-6.about-column-4
			.about-column-principal
				.about-artesanal-mask
					.about-title
						Fishing in Los Roques
					The virgin islands and shoals of Los Roques National Park will make you have an unforgettable angling experience. Los Roques is considered one of the world’s best saltwater destinations for sport fishing due to its beautiful sceneries and it is considered one of the top destinations of the Caribbean to catch Bonefish (Albula vulpes). Common fishing spots have warm crystal clear waters and white sand beaches with plent hard-bottom flats in the archipelago, some of them up to 33m (100ft) wide, with little presence of corals, full of bonefish and little tide variations. There are also shallow lagoons offering a different game for catching bonefish at deeper waters. Bonefish caught in Los Roques average 4lbs, but bigger fish are common, up to 13lbs.
					In addition, many other fish species are found in Los Roques, such as Tarpons, Jacks, Permits, Barracudas, Bonitos, Spanish Mackerels, Blue Runners, Tuna and Wahoo.
					Los Roques is a real year-round destination for fishing; the best season for fly fishing is between February and October when the water levels are lower. On the other hand, Tarpons’ best season is from September to December when water is calm and tides are higher. The weather is generally pleasant throughout the year, with almost no variation in temperature and precipitation, so you don't even have to worry about checking the weather forecast.
					Travelling with a non-angler? No problem, we have plenty of offers to keep your companion occupied, from exhilarating activities such as kiteboarding and scuba diving to relaxing sunbathing in a solitary sandbank. Let us know your preference and we can plan the perfect fishing holiday for you.
		.col-lg-6.col-md-6.about-column-4
			.about-title
				Professional Guides and Equipment
			Oceanica offers you the best guides that can be found in the Archipelago, with the right experience to help you get a better catch. Every morning you will take a fishing boat to the best places to get the fish and teach you basic and advanced techniques, according to your level. Most of them speak English and some speak Italian as well. 
			Commonly all fishermen bring their own fishing gear because is not a very heavy piece of luggage but if you choose not to bring it, we can provide you with the equipment you need (extra charges may apply). If you have any questions regarding fishing gear write us a message and we will be glad to help you with your queries.
			%br
			%br
			.about-title
				Local Regulations
			As in most National Parks, activities that can endanger the local species are banned or controlled. Fishing, as well as other activities, is subject to local regulations; luckily, these are easy to fulfill and normally anglers don’t even have to deal with this process. By hiring Oceanica as your fishing outfitter you will have included in your package all the taxes and paperwork required to fish legally in the archipelago, so you don’t have to worry about anything but fishing. Sports fishing permits are issued by the National Institution for Fishing (INSOPESCA) and are valid for the whole stay. There are several protected areas in the park which are strictly controlled in terms of fishing and therefore it is required to be guided by local fishing guides.
		.col-lg-12.col-md-12.about-column-12
			.about-title
				Artesanal Fisheries
			With Oceanica as your fishing outfitter, you will have the exclusive experience of sharing with local artisanal fishermen a day of work or more during your fishing trip.  Artisanal Fisheries in Los Roques can be very interesting, especially due to the possibility of sharing, enjoying and learning from Fishermen who have some exceptional abilities and interesting techniques. They are not only very fascinating persons with stories and emotions to share, but they are also great cooks and can let you experience with their families an delicious local meal while you learn their way of life. This experience will help you realize how happiness can be obtained from very little. 
			In the artisanal fisheries you can experience Lobster fishing (only during Lobster Season, i.e. November through January) done by very hard working men with amazing skills, because local regulations only allow doing it in apnea (with lung capacity only, not scuba diving) and also with pots that are left under water and picked up afterwards. You can also try fishing reef fish like Grunts, Snappers and Groupers local style or trolling for pelagic species like Spanish Mackerels, wahoo or barracuda.