.listing-show-header
	.actions
		- if can? :update, Customer
			= link_to edit_customer_path(@customer), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.face.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.id")
			.display-value= @customer.id
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.name")
			.display-value= @customer.name
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.identification")
			.display-value= @customer.identification
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.phone")
			.display-value= @customer.phone
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
