= title "Customers | #{@customer.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Customer
				= link_to customer_path(@customer), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Customer
				= link_to edit_customer_path(@customer), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to customers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.id")
					.display-value.fs-body-1.tc-black-2= @customer.id.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @customer.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.identification")
					.display-value.fs-body-1.tc-black-2= @customer.identification.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.phone")
					.display-value.fs-body-1.tc-black-2= @customer.phone.to_s.humanize
