.modal-header{
	background-image: image-url("frontend/home.jpg");
	background-size: cover;
	background-position: center;
	padding: 0px;
	.modal-header-mask{
		color: white;
		background: rgba(118, 198, 255, 0.57);
		padding: 10px;
		font-size: 30px;
		text-align: center;
		padding-top: 100px;
	}
}

.modal-body{
	.form-contact{
		width: 100%;
		border: 1px solid #c0c0c0;
		background: none;
		padding: 15px;
	}

	.form-contact-text{
		width: 100%;
		border: 1px solid #c0c0c0;
		background: none;
		padding: 15px;
		height: 155px;
	}

	.form-actions{
		.g-recaptcha div:nth-child(1){
		  transform: scale(0.82);
		}
		.btn-send{
			background: #29C446;
		    border: none;
		    border-radius: 0px;
		    color: white;
		    padding: 11px;
		    width: 100%;
		    font-size: 20px;
		    outline: 0px;   
		    margin-top: 14px;
		}
	}
}