@import "../core/main";
.discover{
	font-family: $raleway;
	color: #6F6F6F;
	font-size: 13px;

	@include phone-all{
		font-size: 15px;
		text-align: justify;
	}

	#home{
		background-image: image-url("frontend/discover/home.jpg");
		background-position: 50% 5%;
		background-size: cover;
		color: white;
		height: 500px;
		padding: 3%;

		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
			position: relative;
			top: 50px;
			opacity: 0;
		}

		@include phone-all{
			height: 250px;
			.home-title{
				font: {
					size: 45px;
				}
				opacity: 1;
			}
		}

		@include tablet-all{
			height: 400px;
			.home-title{
				font: {
					size: 50px;
				}
			}
		}
	}

	#about{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#discover-row{
		padding-top: 15px;
		padding-bottom: 15px;
		@include phone-all{
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}

	#discover-text{
		position: relative;
    	top: -21px;
		@include tablet-all{
			padding-top: 50px;
		}
		@include phone-all{
			padding-top: 50px;
		}
	}

	#discover-gran-roque{
		@media #{$desktop-large} {
			padding-top: 50px;
		}
	}

	.gran-roque-image{
		background-image: image-url("frontend/discover/gran_roque.jpg");
		background-size: cover;
		background-position: center;
		height: 250px;
		width: 100%;
	}

	#discover-how{
		padding-top: 30px;
	}

	#discover-visa{
		padding-top: 10px;
	}

	#discover-electricity{
		background-image: image-url("frontend/discover/electricidad.jpg");
		color: white;
		padding: 10px;
		font-size: 12px;
		@include tablet-all{
			background: #3D4E62;
		}
		@include phone-all{
			background: #3D4E62;
		}
	}

	#discover-row-rooms{
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 14px;
		padding-left: 14px;
		@include phone-all{
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}

	.room-modal{
		width: 100%;
		.modal-title{
			color: white;
			background: rgba(20, 145, 186, 1);
			padding: 10px;
			font-size: 20px;
		}
		.modal-content{
			width: 100%;
			border-radius: 0px;
		}
		.modal-text{
			padding: 10px;
		}
		.modal-image-item{
			background-size: cover;
			background-position: center;
			height: 300px;
		}
		.slick-slide{
			outline: 0;
		}
	}

	@each $room in (accommodation, superior, standard, budget) {
		#discover-#{$room}{
			background-image: image-url("frontend/discover/#{$room}.jpg");
			background-size: cover;
			height: 350px;
			padding-right: 0px;
			padding-left: 0px;

			@if $room == budget{
				background-position: center;
				height: 175px;
				border-left: 3px solid #ffffff;
				border-top: 3px solid #ffffff;
				@include phone-all{
					height: 200px;
					border: none;
					border-bottom: 3px solid #fff;
				}
				@include tablet-all{
					height: 200px;
					border: none;
					border-bottom: 3px solid #fff;
				}
			}

			@if $room == standard{
				background-position: center;
				height: 175px;
				border-left: 3px solid #ffffff;
				@include phone-all{
					height: 200px;
					border: none;
					border-bottom: 3px solid #fff;
				}
				@include tablet-all{
					height: 200px;
					border: none;
					border-bottom: 3px solid #fff;
				}
			}

			@if $room == superior{
				background-position: center;
				border-left: 3px solid #ffffff;
				@include phone-all{
					height: 200px;
					border: none;
					border-bottom: 3px solid #fff;
				}
				@include tablet-all{
					height: 200px;
					border: none;
					border-bottom: 3px solid #fff;
				}
			}

			@if $room == accommodation{
				.text-format{
					padding: 20px;
					padding-right: 200px;
					color: #000;
				}
				@include phone-all{
					height: 100%;
					background: rgba(159, 145, 129, 0.99);
					border-bottom: 3px solid #fff;
					.text-format{
						padding: 20px;
						padding-right: 20px;
						text-align: center;
						color: #000;
					}
				}

				@include tablet-all{
					height: 100%;
					background: rgba(159, 145, 129, 0.99);
					border-bottom: 3px solid #fff;
					.text-format{
						padding: 20px;
						padding-right: 20px;
						text-align: center;
						color: #000;
					}
				}
			}
		}
	}

	#discover-room-mask{
		@include no-phone{
			background: #000;
			opacity: 0.3;
			height: 100%;
			width: 100%;
			position: absolute;
			display: block;
		}
	}

	.hover-mask:hover{
		@include no-phone{
			#discover-room-mask{
				opacity: 0;
				display: none;
			}
		}
	}

	.discover-title-room, .discover-title-room:hover{
		font-size: 20px;
		color: #000;
		text-decoration: none;
		font-weight: 400;
		background: #fff;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		position: absolute;
		bottom: 0px;
	}

	.quotes-carousel{
		@include phone-all{
			width: 97% !important;
		}
	}

	.quotes-carousel-item{
		outline: 0px;
		.quote-content{
			margin: 20px;
			margin-top: 70px;
			margin-bottom: 0px;
			padding: 20px;
			background: #E8F3F3;
			min-height: 300px;
			.quote-content-title{
				font-weight: bold;
				font-size: 16px;
				margin-bottom: 10px;
			}
			.quote-content-body{
				p {
					font-size: 13px !important;
				}
			}
		}

		.quote-client-info{
			text-align: center;
			margin-bottom: 70px;
			.quote-client{
				font-size: 18px;
				font-weight: bold;
				color: #0B6E8C;
			}
			.quote-country{
				font-size: 14px;
				font-weight: bold;
			}
		}
	}
}


