@import "../core/main";
.diving{
	font-family: $raleway;
	#home{
		background-image: image-url("frontend/diving/home.jpg");
		background-size: cover;
		color: white;
		height: 500px;
		padding: 3%;

		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
			position: relative;
			top: 50px;
		}

		@include phone-all{
			height: 250px;
			.home-title{
				font: {
					size: 50px;
				}
				opacity: 1;
			}
		}
	}
	#about{
		font-family: $raleway;
		color: #6F6F6F;
		font-size: 13px;
		padding-top: 0px;
		@include phone_all{
			padding: 10px;
			margin-bottom: 40px;
			margin-top: 40px;
		}
		.row{
			width: 100%;
		}
		#about-text{
			padding: 30px;
			@media #{$desktop}{
				padding: 10px;
			}
			@include tablet_all{
				padding: 0px;
				margin-bottom: 20px;
			}
			@include phone_all{
				padding: 0px;
				margin-bottom: 20px;
			}
			.about-sealife-content{
				position: relative;
				top: -58px;
				@include tablet_all{
					top: 0px;
				}
				@include phone_all{
					top: 0px;
				}
				.about-title{
					background-image: image-url("frontend/diving/sealife.jpg");
					background-size: cover;
					padding: 15px;
					color: #000;
					font-weight: 700;
					margin-bottom: 25px;
				}
			}
		}
	}
}