// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "../core/main";
html, body, main{
	height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.splash {
  display: none;
}

[ng-cloak].splash {
  display: block !important;
}

#oceanica-navbar{
	width: 300px;
	position: absolute;
	margin: 50px;
	z-index: 99999;
	@include phone_all{
		margin: 10px;
	}
	.navbar-logo{
		@include phone_all{
			width: 180px;
			margin: 5px;
			margin-left: 50px;
		}
	}
	.navbar-icon{
		float: left;
		position: relative;
		top: 18px;
	}
	.oceanica-navbar-button{
		cursor:pointer;
	}
}

.center{
	@include display-flexbox;
    @include align-items(center);
    @include justify-content(center);
	height: 100%;	
	width: 100%;
}  

.center-h{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;	
}

.center-v{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	    justify-content: center;
}

#button-up{
	a, a:hover{		
		background: #000000;
		font-size: 25px;
		text-decoration: none;
		color: white;
		height: 50px;
		width: 50px;
		position: fixed;
		bottom: 15px;
    right: 15px;
		opacity: 0.6;
		display: none;
	}
}