@import "../core/main";
#gallery{
	#sections{
		padding: 3px;
		margin: 0px;
		margin-top: 20px;
	}
	.gallery-view{
		.gallery-image{
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 545px;
			@include phone_all{
				height: 400px;
			}
		}
	}
	.gallery-control{
		.gallery-image{
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 180px;
			cursor: pointer;
			outline: none;
		}
	}
	.gallery-title{
		background: #FFFFFF;
		width: 200px;
		font-size: 40px;
		text-align: center;
		color: #0B6E8C;
		position: absolute;
		bottom: 0px;
		left: 38%;
	}
}
.slick-next,
.slick-prev {
	height: 100% !important;
  top: 0 !important;
  width: 40px !important;
}
.slick-next {
	right: 0 !important;
}
.slick-prev {
	left: 0 !important;
	z-index: 1;
}

