@import "../core/main";
.home{
	background-image: image-url("frontend/home.jpg");
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	height: 100%;
	@media #{$tablet}{
		height: 100%;
	}
	@media #{$tablet-landscape}{
		height: 100%;
	}
	@media #{$phone}{
		overflow: visible;
		height: 880px;
	}
	@media #{$phone-landscape}{
		overflow: visible;
		height: 880px;
	}
	.home-logo{
		width: 300px;
		position: absolute;
		top: 20px;
	}
	.home-title{
		color: #ffffff;
		letter-spacing: 3px;
		border-bottom: 1px solid #fff;
		font: {
			size: 28px;
			weight: 100;
			family: $raleway;
		}
	}
	#home-discover-font{
		width: 230px;
		text-align: center;
	}
	.home-title-hover{
		color: #000;
		background: #ffffff;
		width: 300px;
		padding: 10px;
		text-align: right;
		letter-spacing: 3px;
		position: absolute;
		top: 35%;
		font: {
			size: 30px;
			weight: 100;
			family: $raleway;
		}
		display: none;
	}

	.home-title-discover-hover{
		color: #000;
		background: #ffffff;
		width: 300px;
		padding: 10px;
		text-align: right;
		letter-spacing: 3px;
		position: absolute;
		top: 42%;
		font: {
			size: 28px;
			weight: 100;
			family: $raleway;
		}
		display: none;
	}

	.home-container.row{
		width: 100%;
		height: 107% !important;
		@media #{$phone}{
			overflow: none;
			height: 200px !important;
		}
		@media #{$phone-landscape}{
			overflow: none;
			height: 200px !important;
		}
		.home-container-two.row{
			width: 110%;
			height: 100% !important;
		}
	}

	#section-title{
		padding: 10px;
		border-bottom: 1px solid #fff;
		padding-left: 0px;
		padding-right: 0px;
	}
	//Opciones del home
	@each $num in (one, two, three, four, five) {
		#section-#{$num}{
			height: 32% !important;
			border-bottom: 1px solid #fff;
			padding-left: 0px;
			padding-right: 0px;
			.image-hover{
				height: 200px;
				@media #{$desktop-large}{
					height: 100%;
				}
				@media #{$desktop}{
					height: 100%;
				}
				@media #{$desktop}{
					height: 100%;
				}
				@media #{$tablet}{
					height: 100%;
				}
			}
			@if $num == one {
				background-image: none;
				height: 100% !important;
				border-right: 1px solid #fff;
				padding-left: 15px;
			}
			@if $num == two {
				height: 100% !important;
				border-bottom: none;
				padding-left: 15px;
			}
			@if $num == five {
				height: 33% !important;
			}
			@media #{$phone}{
				height: 200px !important;
				padding-right: 0px;
				@if $num == one {
					border-bottom: 1px solid #fff !important;
					border-right: none;
					padding-left: 15px;
				}
				@if $num == two {
					overflow: none;
					height: 600px !important;
					padding-left: 15px;
				}
			}
			@media #{$phone-landscape}{
				height: 200px !important;
				padding-right: 0px;
				@if $num == one {
					border-right: none;
					border-bottom: 1px solid #fff;
					padding-left: 15px;
				}
				@if $num == two {
					overflow: none;
					height: 600px !important;
					padding-left: 15px;
				}
			}
		}
	}



	#section-one .image-hover:hover{
		@include no-phone{
			@include animation(hover, 0.7s, 1, normal);
			-webkit-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			background-image: image-url("frontend/discover.jpg");
			.home-title{
				display: none;
			}
			.home-title-discover-hover{
				display: block;
			}
		}
	}

	@each $num in (three, four, five) {
		#section-#{$num} .image-hover:hover{
			@include no-phone{
				@include animation(hover, 0.7s, 1, normal);
				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				@if $num == three{
					background-image: image-url("frontend/diving.jpg");
				}
				@if $num == four{
					background-image: image-url("frontend/fishing.jpg");
				}
				@if $num == five{
					background-image: image-url("frontend/kiteboarding.jpg");
				}
				.home-title{
					display: none;
				}
				.home-title-hover{
					display: block;
				}
			}
		}
	}
	@include keyframes(hover){
		0% {
		  opacity: 0;
		  background-size: 100% 100%;
		}

		100% {
			opacity: 1;
		  background-size: 102% 102%;
		}
	}

	a:hover, a:focus{
		text-decoration: none;
	}

}

