@import "../core/main";
.kiteboarding{
	font-family: $raleway;
	#home{
		background: image-url("frontend/kiteboarding/home.jpg");
		background-size: cover;
		color: white;
		height: 500px;
		padding: 3%;
		.content-title{
			position: absolute;
			z-index: 99999;
		}
		.home-title{
			font: {
				size: 70px;
				weight: bold;
			}
			@include phone-all{
				font-size: 50px;
			}
			position: relative;
			top: 50px;
		}

		@include phone-all{
			height: 250px;
			.home-title{
				font: {
					size: 50px;
				}
				opacity: 1;
			}
		}
	}
	#about{
		.about-row{
			padding-top: 0px;
			@include phone-all{
				padding: 10px;
			}
			.about-column-4{
				padding: 10px;
				.about-title{
					font-size: 18px;
					font-weight: bold;
					margin-top: 10px;
					margin-bottom: 15px;
				}
			}
		}
		#kiteboarding-weather{
			margin-top: 50px;
			margin-bottom: 50px;
			width: 100%;
		}
	}
}