@import "../core/main";
.navbar-oceanica{
	background: rgba(20, 145, 186, 0.88);
	position: fixed;
	z-index: 99997;
	height: 100%;
	width: 100%;
	opacity: 0;
	display: none;
	@include phone-all{
		background: rgba(20, 145, 186, 1);
	}
	.navbar-oceanica-link{
		text-align: center;
		font-size: 100px;
		padding: 10px;
		display: none;
		opacity: 0;
		font-family: $raleway;
		@include phone_all{
			a{
				font-size: 25px;
			}
		}
		a{
			color: white;
		}		 
		a:hover{			
			text-decoration: none;
			border-bottom: 3px solid #ffffff;
		}
	}
}