@import "../core/main";
#packages{
	.package-header{
		margin: 40px;
		color: #515151;
		.package-title{
			text-align: center;
			font-size: 25px;
			font-weight: bold;
		}
		.package-subtitle{
			text-align: center;
		}
	}	
	.package-row{
		width: 100%;
		margin: 0px;
		padding: 0px;
		.package-column{
			margin: 0px;
			padding: 2px;			
			a, a:hover{
				text-decoration: none;
				color: #515151;
			}
			.package-image{
				width: 100%;
				height: 250px;
				background-size: cover;
				background-position: center;
				.package-image-container{
					width: 50%;
					background: rgba(255, 255, 255, 0.8);
					padding: 10px;
					@include phone_all{
						width: 70%;
					}
					.package-image-container-title{
						text-align: center;
						font-size: 20px;
					}
					.package-image-container-time{
						font-size: 20px;
						text-align: center;
						font-weight: bold;
						span{
							margin: 10px;
							color: #1491BA;
							i{
								color: #515151;
							}
						}
					}
				}
			}
		}
	}

	.package-modal{	
		.modal-dialog{
			width: 65%;
			@include phone_all{
				width: 95%;
			}
			@media #{$phone-landscape}{
				width: 95%;
			}
		}
		.modal-body{
			padding: 60px;
			padding-top: 20px;
			@include phone_all{
				padding: 10px;
			}
			h4{
				text-align: center;
				border-bottom: 1px solid #dddddd;
				padding: 15px;
			}
			.modal-description{
				padding-top: 10px;
			}
			h3{
				text-align: center;
				padding: 20px;
			}
			.modal-price-box{
				border: 1px solid #29C446;
				text-align: center;
				padding: 10px;
				.price{
					font-size: 18px;
					font-weight: bold;
				}
			}
			.btn-book{
				width: 100%;
				margin-top: 5px;
				margin-bottom: 5px;
				background: #29C446;
				padding: 10px;
				border-radius: 0px;
				color: white;
			}
		}
		.modal-content{		
			overflow: hidden;
			.modal-name{
				width: 100%;
				background-size: cover;
				background-position: center;
				.modal-name-mask{
					background: rgba(118, 198, 255, 0.57);					
					padding: 30px;				
					h1, h2{
						color: white;
						text-align: center;
					}
				}
			}
		}
	}

	.contact{
		margin-top: 40px;
		color: #1491BA;
		padding: 10px;
		width: 500px;
		border: 1px solid #1491BA;
		@include transition(0.5s);
		cursor: pointer;
		@media #{$phone}{
			width: 100%;
		}	
	}

	.contact:hover{
		margin-top: 40px;
		padding: 10px;
		color: #ffffff;
		background: #1491BA;
		width: 500px;
		border: 1px solid #1491BA;
		@include transition(0.5s);
		cursor: pointer;
		@media #{$phone}{
			width: 100%;
		}	
	}

	a, a:hover{
		text-decoration: none;
	}

}