@import "../core/main";
.reservation{
	font-family: $raleway;
	#home{
		background-image: image-url("frontend/reservations/home.jpg");
		//background-size: cover;
		color: white;
		height: 300px;
		padding: 3%;

		.home-title{
			font: {
				size: 60px;
				weight: 900;
			}
			position: relative;
			top: 50px;

			@media #{$phone}{
				font: {
					size: 40px;
					weight: 900;
				}
			}
		}

		@include keyframes(hometitle) {
			from {
				top: 50px;
				opacity: 0;
			}
			to {
				top: 0px;
				opacity: 1;
			}
		}
	}

	.total-price{
		text-align: right;
	}


	.reservation-title{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.steps-control{
		text-align: center;
		margin-bottom: 40px;
		.step-line{
			background: #1491BA;
			width: 20px;
			height: 2px;
			float: left;
			margin-top: 20px;
		}
		.step{
			border: 1px solid #1491BA;
			color: #1491BA;
			font-weight: bold;
			height: 40px;
			width: 40px;
			border-radius: 50%;
			float: left;
		}
		#active{
			background: #1491BA;
			color: white;
		}
	}

	.reservation-header{
		background-size: cover;
		background-position: center;
		width: 700px;
		@media #{$phone}{
			width: 376px;
		}
		@media #{$phone-landscape}{
			width: 500px;
		}
		.header-mask{
			background: rgba(118, 198, 255, 0.57);
			height: 100%;
			width: 100%;
			padding: 25px;
			padding-top: 50px;
			padding-bottom: 35px;
			p{
				color: white;
				font-size: 20px;
			}
		}
	}

	#step-1{
		.step-one-content{
			max-width: 700px;
			min-width: 300px;
			@media #{$phone-landscape}{
				width: 500px;
			}
			label{
				margin-top: 5px;
			}
			input, select{
				margin-top: 5px;
				width: 100%;
				padding: 8px;
				border: none;
				background: #EFEFEF;
			}
			.reservation-error{
				color: red;
			}
			.terms{
				background: #E4F2F3;
				padding: 15px;
			}

			button{
				background: #29C446;
				border: none;
				color: white;
				font-size: 18px;
				padding: 10px;
				padding-left: 30px;
				padding-right: 30px;
				margin-left: 10px;
			}
		}
	}
	#step-2{
		display: none;
		.customer-form{
			background: #E4F2F3;
			padding: 20px;
			padding-bottom: 30px;
			width: 100%;
			margin-top: 15px;
			margin-bottom: 15px;

			.row{
				padding: 10px;
			}

			#cancel-customer{
				button{
					border: none;
					width: 40px;
					height: 40px;
					background: none;
					outline: none;
				}
			}

			.reservation-error{
				color: red;
			}

			.customer-form-column{
				padding-left: 5px;
				padding-right: 5px;
			}

			select{
				border: none;
				background: white;
				width: 93%;
				padding: 10px;
				@media #{$phone}{
					width: 82%;
				}
				@media #{$phone-landscape}{
					width: 85%;
				}
			}

			input{
				border: none;
				width: 100%;
				padding: 10px;
				@include phone_all{
					margin-bottom: 15px;
				}
			}

			button.add{
				border: none;
				width: 40px;
				height: 40px;
				color: white;
				background: #1491BA;
			}

			.activity-tags{
				margin-top: 10px;
				.activity-tag{
					background: #1491BA;
					padding: 5px;
					color: white;
					float: left;
					margin: 5px;
					margin-top: 0px;
					margin-left: 0px;
					button{
						background:none;
						border: none;
					}
				}
			}
		}
	}
	#step-3{
		display: none;
		a, a:focus{
			outline: 0;
		}
	}

	#step-4{
		display: none;
		max-width: 700px;
		min-height: 300px;
		border: 1px solid #1491BA;
		padding: 15px;
		h1{
			color: #1491BA;
			@media #{$phone}{
				font-size: 24px;
			}
		}
		.btn-end{
			position: relative;
   			bottom: -117px;
   			@media #{$phone}{
				bottom: -35px;
			}
		}
	}

	#loading{
		max-width: 700px;
		height: 300px;
		border: 1px solid #1491BA;
		i{
			font-size: 50px;
			color: #1491BA;
		}
	}

	.next, .next:hover{
		background: #29C446;
		border: none;
		color: white;
		font-size: 18px;
		padding: 10px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 10px;
		text-decoration: none;
	}

	.back{
		background: #E4E4E4;
		border: none;
		color: #565656;
		font-size: 18px;
		padding: 10px;
		padding-left: 30px;
		padding-right: 30px;
		margin-left: 10px;
		text-decoration: none;
	}
}

.terms-modal{
	.modal-title {
	    margin: 0;
	    line-height: 1.42857143;
	    font-size: 30px;
	    height: 100px;
	    color: white;
	    font-weight: bold;
	}
}