.terms-modal.modal.fade{id:"legal-terms-modal", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				.modal-title
					.center
						Legal Terms			
			
			.modal-body
				- unless legal_terms.description.blank?
					= legal_terms.description.html_safe


			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close