.step-one-content.ng-cloak{"ng-cloak"=>true}
	.terms
		= @offer.description.to_s.html_safe
	%input.datepicker{type:"text", "ng-model"=>"reservation.arrival_date", placeholder: "Choose start date", "data-provide"=>'datepicker'}
	.reservation-error {{reservation_errors.arrival_date}}
	%select{"ng-model"=>"reservation.customers_number", "ng-options"=>"value.id as value.name for (key, value) in participants"}
	.reservation-error {{reservation_errors.customers_number}}
	%br
	%input{type:"text", "ng-model"=>"reservation.discount_code", placeholder: 'Discount code'}
	.reservation-error {{reservation_errors.discount_code}}

	%br
	.pull-right
		%button{type:"button", "ng-click"=>"validateStepOne()"}
			Continue

:javascript
	$(document).ready(function(){
		$('.datepicker').datepicker({
			format: "dd/mm/yyyy",
			startDate: "#{@offer.date_begin}",
			endDate: "#{@offer.date_end}",
			autoclose: true,
		});
	});