%H1 Reservation Complete
Thanks for your booking. Your order is being processed and you will receive a confirmation email in 24h with the details of your booking. Please quote your reference number if you wish to 
%span
	%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#contact-modal"}
		contact us
about this order.
= render partial: "layouts/frontend/contact_us"
= link_to "/", class: "next btn-end pull-right" do
	End