= title "Reservations | #{@reservation.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Reservation
				= link_to reservation_path(@reservation), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Reservation
				= link_to edit_reservation_path(@reservation), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to reservations_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			%center
				%h3 Reservation
			%hr
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.arrival_date")
					.display-value.fs-body-1.tc-black-2= @reservation.arrival_date.to_s.humanize

				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.offer")
					.display-value.fs-body-1.tc-black-2= "#{@reservation.offer.code.to_s.upcase}: #{@reservation.offer.title.to_s.humanize}"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.type_price")
					.display-value.fs-body-1.tc-black-2= @reservation.type_price.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.status")
					.display-value.fs-body-1.tc-black-2
						- if @reservation.status == "Approved"
							.chip.chip-success
								= @reservation.status
						- if @reservation.status == "Canceled"
							.chip.chip-cancel
								= @reservation.status
						- if @reservation.status == "Pending"
							.chip.chip-pending
								= @reservation.status
						- if @reservation.status == "Expired"
							.chip
								= @reservation.status
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.customer")
					.display-value.fs-body-1.tc-black-2= @reservation.customer_stripe
				- if @reservation.charge_stripe
					%li.list-row
						.display-label= t("model.#{controller_name.singularize}.attributes.charge")
						.display-value.fs-body-1.tc-black-2= @reservation.charge_stripe
				%center
					%h4 Customers
				%li.list-row
					- @reservation.customers.each do |customer|
						%hr
						.display-label= t("model.#{controller_name.singularize}.attributes.customers.identification")
						.display-value.fs-body-1.tc-black-2
							= customer.identification
						.display-label= t("model.#{controller_name.singularize}.attributes.customers.fullname")
						.display-value.fs-body-1.tc-black-2
							= customer.name
						.display-label= t("model.#{controller_name.singularize}.attributes.customers.email")
						.display-value.fs-body-1.tc-black-2
							= customer.email
						.display-label= t("model.#{controller_name.singularize}.attributes.customers.activities")
						.display-value.fs-body-1.tc-black-2
							- customer.reservation_customer_activities.where(reservation_id: @reservation.id).each do |activities|
								= "#{activities.activity.name}, "
				%hr
				.display-label
					Price
					= "(with #{(@discount*100).to_i}% discount)" if @reservation.discount_code
				%h4
					= "#{@total_price}$USD"


				- if @reservation.status == "Pending"
					%div#reservation-controls
						%a.btn#btn-pay{href: "/admin/reservations/#{@reservation.id}/charge"}
							%i.fa.fa-money
							Cobrar
						%a.btn.red#btn-cancel{href: "/admin/reservations/#{@reservation.id}/cancel"}
							%i.fa.fa-cancel
							Cancelar

:javascript
	$("#btn-pay").click(function(){
		$("#reservation-controls").html("Cobrando reservación, espere...");
	});
	$("#btn-cancel").click(function(){
		$("#reservation-controls").html("Cancelando reservación, espere...");
	});

