.listing-show-header
	.actions
		- if can? :update, LegalTerm
			= link_to edit_legal_term_path(@legal_term), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink"=>true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.book.css_class("md-light") 
		Terminos Legales
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= @legal_term.description.html_safe
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
