%tr{ id: "row-#{legal_term.id}" }
	- if can? :destroy_multiple, LegalTerm
		%td.item-check{style:"width: 10%"}
			= link_to "", legal_term_path(legal_term), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{legal_term.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{legal_term.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{legal_term.id}" }

	%td{style:"width: 90%"}	
		= link_to "", legal_term_path(legal_term, search: @query), remote: true, class: "show-row" 
		%span	
			Terminos legales de la reservación
								
	%td{style:"width: 5%"}		
		= link_to legal_term_path(legal_term), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")