= title "Legal_terms | #{@legal_term.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, LegalTerm
				= link_to legal_term_path(@legal_term), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, LegalTerm
				= link_to edit_legal_term_path(@legal_term), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink"=>true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to legal_terms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= @legal_term.description.to_s.html_safe
