%html
	%head
	%body
		%center
			%h1{style: "color:#1491BA"} Oceanica Los Roques			
			%h3 
				= "Your Booking"	
			%p 
				Thanks for your booking. Your order is being processed and you will receive a confirmation email within 24h with the details of your booking. Please quote your reference number if you wish to contact us about this order.
			%p
				%b Booking reference number: 
				%span
					= @reservation.customer_stripe 
		%table{border:"1", style: "width:100%"}
			%tr{style: "background:#1491BA;color:#DFF3FF"}
				%th{colspan: "4"}
					%center
						Reservation
			%tr{style: "background:#DFF3FF;color:#1491BA"}
				%th
					Customer Stripe 
				%th
					Charge Stripe
				%th
					Arrival Date
			%tr
				%td
					= @reservation.customer_stripe
				%td
					= "In confirmation process"
				%td
					= @reservation.arrival_date
			%tr{style: "background:#DFF3FF;color:#1491BA"}
				%th{colspan: "2"}
					Package
				%th
					Accomodation
			%tr
				%td{colspan: "2"}
					= "#{@reservation.offer.code.to_s.upcase}: #{@reservation.offer.title.to_s.humanize}"
				%td
					= @reservation.type_price.to_s.humanize
			%tr{style: "background:#1491BA;color:#DFF3FF"}
				%th{colspan: "4"}
					%center
						Customers
			- @reservation.customers.each do |customer|
				%tr{style: "background:#DFF3FF;color:#1491BA"}
					%th
						Identification
					%th
						Fullname
					%th
						Email
				%tr
					%td
						= customer.identification
					%td
						= customer.name
					%td
						= customer.email
				
				%tr{style: "background:#DFF3FF;color:#1491BA"}
					%th{colspan: "3"}
						Activities
				%tr{style: "background:#DFF3FF;color:#1491BA"}
					%td{colspan: "3"}
						- customer.reservation_customer_activities.where(reservation_id: @reservation.id).each do |activities|
							= "#{activities.activity.name}, "
			%tr
				%th{style: "background:#1491BA;color:#DFF3FF", colspan: "3"}
					%center
						Total Price
			%tr
				%td{style: "font-size: 30px;text-align: right;", colspan: "3"}
					= "#{@reservation.price.to_f.round(2)}$USD"
		%p
			“Best regards
		Oceanica Los Roques”
