.contact-modal.modal.fade{id:"contact-modal", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				.modal-header-mask
					Contact Us
			.modal-body
				= render "keppler_contact_us/messages/form"
