#footer
	.row#footer-row
		.col-lg-4.col-md-4
			.footer-logo
				.center-h
					.center-v
						= image_tag "frontend/logo-blue.png"
		.col-lg-4.col-md-4#footer-col-social
			.footer-social
				%h4
					%b Connect with us
				.row#footer-social-icons
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						= link_to "https://www.facebook.com/OceanicaLR/?fref=ts", target: "_blank" do
							= image_tag "frontend/facebook.png"
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						= link_to "https://www.tripadvisor.com.ve/Attraction_Review-g316064-d12188574-Reviews-Oceanica_Los_Roques-Isla_El_Gran_Roque_Los_Roques_National_Park_Coastal_Islands_.html", target: "_blank" do
							= image_tag "frontend/tripadvisor.png"
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						= link_to "https://www.instagram.com/oceanicalosroques/", target: "_blank" do
							= image_tag "frontend/instagram.png"
					.col-lg-3.col-md-3.col-sm-3.col-xs-3
						= link_to "#", "data-toggle"=>"modal", "data-target"=>"#contact-modal" do
							= image_tag "frontend/contact.png"
		.col-lg-4.col-md-4#footer-col-contact
			.footer-contact
				%h4
					%b Contacts
				+58 424-3703405
				%br
				+1 832-6135664
				%br
				info@oceanicalosroques.com
	.footer-blue-line
		.container
			.row
				.col-lg-8.col-md-6.col-sm-6.col-xs-12
					%p Oceanica Los Roques LLC- All Right Reserved.
				.col-lg-4.col-md-6.col-sm-6.col-xs-12
					%p.slice
						Powered by
						%span
							= link_to 'http://slicegroup.xyz/', target: '_blank' do
								= image_tag "frontend/slice.png"