.container
  .row
    .col-lg-9.col-md-9.col-xs-12#sections
      .gallery-view
        .gallery-item
          %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/#{@video_code}?", :webkitallowfullscreen => "", :width => "100%", :height => "545px"}
        - @gallery.each do |image|
          .gallery-item
            - if !image.url .blank?
              %img.gallery-image{"data-lazy"=>"#{image.url}"}
              .gallery-title.hidden-xs
                Gallery
            - if !image.image.blank?
              %img.gallery-image{"data-lazy"=>"#{image.image}"}
              .gallery-title.hidden-xs
                Gallery
    .col-lg-3.col-md-3.col-xs-12#sections.hidden-xs
      .gallery-control
        .gallery-item
          %img.gallery-image{"data-lazy"=>"/assets/frontend/#{action_name}/video-cover.png"}
        - @gallery.each do |image|
          - if !image.url.blank?
            .gallery-item
              %img.gallery-image{"data-lazy"=>"#{image.url}"}
          - if !image.image.blank?
            .gallery-item
              %img.gallery-image{"data-lazy"=>"#{image.image}"}
:css
  .slick-prev, .slick-next{
    top: 43%;
  }
  .slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 80px; line-height: 1; color: white; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

  .slick-prev:before { content: "‹"; }
  [dir="rtl"] .slick-prev:before { content: "›"; }

  [dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
  .slick-next:before { content: "›"; }
  [dir="rtl"] .slick-next:before { content: "‹"; }
:javascript
  $(document).ready(function() {
    $('.gallery-view').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      lazyLoad: 'ondemand',
      asNavFor: '.gallery-control',
      responsive: [
      {
        breakpoint: 1024,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        }
      },
      {
        breakpoint: 991,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1
        }
      },
      {
        breakpoint: 768,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        fade: false,
        arrows: true,
        adaptiveHeight: true
        }
      }
      ]
    });
    $('.gallery-control').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.gallery-view',
      dots: false,
      focusOnSelect: true,
      arrows: false,
      vertical: true,
      lazyLoad: 'ondemand',
      responsive: [
      {
        breakpoint: 1024,
        settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        }
      },
      {
        breakpoint: 991,
        settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
            vertical: false
        }
      },
      {
        breakpoint: 768,
        settings: {
        slidesToShow: 1,
        slidesToScroll: 1
        }
      }
      ]
    });

  });
