%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Oceanica Los Roques'
	%meta{:content => "http://oceanicalosroques.com/assets/frontend/home-af8b98f5d5c01f32f514b84f7f03a180be843efcc3ed05dcb8a4eeba8b9a7e95.jpg", :property => "og:image"}/
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Oceanica Los Roques, book now and enjoy plans of kitesurfing, Scuba Diving, and fishing'}"}
	%link{href: "https://plus.google.com/104425285427396687240", rel: "publisher"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	%script{:src => "/assets/frontend/angular-stripe-checkout.js", :type => "text/javascript"}
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/favicon.png"
	= csrf_meta_tags
	:javascript
		WebFontConfig = {
			google: { families: [  'Raleway::latin' ] }
		};
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();