%h1.navbar-oceanica-link
  = link_to root_path do
    Home
%h5.navbar-oceanica-link
  = link_to discover_path do
    Discover Los Roques
%h5.navbar-oceanica-link
  = link_to diving_path do
    Scuba Diving
%h5.navbar-oceanica-link
  = link_to fishing_path do
    Fishing
%h5.navbar-oceanica-link
  = link_to kiteboarding_path do
    Kiteboarding

