#oceanica-navbar
	.oceanica-navbar-button
		= image_tag "frontend/menu.png", class: "navbar-icon"
	= link_to root_path, class: "hidden-xs" do
		= image_tag "frontend/logo.png", class: "navbar-logo"
	= image_tag "frontend/logo.png", class: "visible-xs navbar-logo"