/ Modal
.package-modal.modal.fade{id:"package-modal-#{offer.id}", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-name{style:"background-image: url('#{offer.image}')"}
				.modal-name-mask
					%h1
						= offer.code
					%h2
						= offer.title
			.modal-body
				-#%h4
					= #"Enjoy fresh #{section.downcase} plan at Los Roques"
				%p.modal-description
					= offer.description.to_s.html_safe
				- if offer.has_prices?
					%h3 Sorry, there are no available options at this moment.
				- else
					%h3
						Available Options
					.row
						- if offer.one_day
							.col-lg-6.col-lg-offset-3
								.modal-price-box
									.price
										= "#{offer.one_day_price}USD"
									One day Package
									%br
									%small
										= offer.one_day_description
								%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/budget", disabled: offer.one_day_price.to_i.zero? ? true : false, style: "pointer-events: #{ 'none' if offer.one_day_price.to_i.zero?}"}
									Book
						- else
							- unless offer.budget_price.to_i.zero?
								.col-lg-4
									.modal-price-box
										.price
											= "#{offer.budget_price}USD"
										Budget Accommodation
										%br
										%small
											price per person, based on double occupancy
									%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/budget", disabled: offer.budget_price.to_i.zero? ? true : false, style: "pointer-events: #{ 'none' if offer.budget_price.to_i.zero?}"}
										Book
							- unless offer.standard_price.to_i.zero?
								.col-lg-4
									.modal-price-box
										.price
											= "#{offer.standard_price}USD"
										Standard Accommodation
										%br
										%small
											price per person, based on double occupancy
									%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/standard", disabled: offer.standard_price.to_i.zero? ? true : false, style: "pointer-events: #{ 'none' if offer.standard_price.to_i.zero?}"}
										Book
							- unless offer.superior_price.to_i.zero?
								.col-lg-4
									.modal-price-box
										.price
											= "#{offer.superior_price}USD"
										Superior Accommodation
										%br
										%small
											price per person, based on double occupancy
									%a.btn.btn-book{href: "/#{section.downcase}/reservation/#{offer.code.downcase}/superior", disabled: offer.superior_price.to_i.zero? ? true : false, style: "pointer-events: #{ 'none' if offer.superior_price.to_i.zero?}"}
										Book
			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
