.container
	.package-header
		.package-title
			= "#{@section} Packages"
		.package-subtitle
			we have designed the following packages for you
.row.package-row
	- @offers.each_with_index do |offer, index|
		.col-lg-4.col-md-6.package-column
			%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#package-modal-#{offer.id}"}
				.package-image{style:"background-image: url(#{offer.image})"}
					.center-h
						.package-image-container
							.center
								.package-image-info
									.package-image-container-title
										%h1
											= offer.code
										= offer.title
									.package-image-container-time
										%span
											= offer.one_day ? '1' : offer.days
											%i.fa.fa-sun-o
										- unless offer.one_day
											%span
												= offer.night
												%i.fa.fa-moon-o

		= render partial: "layouts/frontend/packages_modal", locals: {index: index, offer: offer, section: @section}
.container
	%center
		%a{href:"#", "data-toggle"=>"modal", "data-target"=>"#contact-modal"}
			%p.contact
				Contact us for a personalized package or questions about existing ones

	= render partial: "layouts/frontend/contact_us"
