.wrapper
	.wrapper-body.container
		.actions
			= link_to rooms_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @room do |f|
					.row
						= f.input :name
						= f.input :description, input_html: {class: "materialize-textarea"}
						#room_covers
							%ul.collection{ style: "margin: 5px 10px;"}
								= f.simple_fields_for :room_covers do |image|
									= render 'room_cover_fields', f: image
								%center
									= link_to_add_association '+Add Image', f, :room_covers, class: "waves-light btn", style: "width: 100%"

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
