%tr{ id: "row-#{room.id}" }
	- if can? :destroy_multiple, Room
		%td.item-check{style:"width: 10%"}
			= link_to "", room_path(room), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{room.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{room.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{room.id}" }

	%td{style:"width: 2%"}
		= material_icon.md_24.label_outline	
	%td{style:"width: 60%"}
		= link_to "", room_path(room, search: @query), remote: true, class: "show-row"
		%span
			= room.name
								
	%td{style:"width: 5%"}		
		= link_to room_path(room), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")