- (action_name == "new" or action_name == "create") ? action="create" : action="update"
.wrapper
	.wrapper-body.container
		.actions
			= link_to package_offers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @offer, :url => url_for(:action => action, :controller => 'offers') do |f|
					.row
						= f.input :code
						= f.input :title
						= f.input :image,label: t("model.#{controller_name.singularize}.attributes.image"), :as => :file_material, label: false, wrapper_html: { class: "file-field" }
						= f.input :description, :as => :ckeditor, label: false, input_html: { :ckeditor => { :toolbar => 'short'} }
						= f.input :date_begin, as: :string, input_html: {class: "datepicker"}
						= f.input :date_end, as: :string, input_html: {class: "datepicker"}
						= f.input :one_day, as: :checkbox_material
						= f.input :one_day_price
						= f.input :one_day_description
						= f.input :superior_price
						= f.input :standard_price
						= f.input :budget_price
						= f.input :days
						= f.input :night

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
:javascript
	$(document).ready(function(){
		checkOneDay();
		$('.datepicker').pickadate({
			format: "dd/mm/yyyy"
		});
	});
	$('#offer_one_day').on('click', function(){
		checkOneDay();
	});

	function checkOneDay(){
		if ($('#offer_one_day').is(":checked")) {
			$('.offer_one_day_price').css('display', 'block')
			$('.offer_one_day_description').css('display', 'block')
			$('.offer_superior_price').css('display', 'none')
			$('.offer_standard_price').css('display', 'none')
			$('.offer_budget_price').css('display', 'none')
			$('.offer_days').css('display', 'none')
			$('.offer_night').css('display', 'none')
		} else {
			$('.offer_one_day_price').css('display', 'none')
			$('.offer_one_day_description').css('display', 'none')
			$('.offer_superior_price').css('display', 'block')
			$('.offer_standard_price').css('display', 'block')
			$('.offer_budget_price').css('display', 'block')
			$('.offer_days').css('display', 'block')
			$('.offer_night').css('display', 'block')
		}
	}
