.listing-show-header
	.actions
		- if can? :update, Offer
			= link_to edit_package_offer_path(params[:package_id], @offer), class: "btn-floating waves-effect waves-light btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
				= material_icon.md_24.create
	%h5
		= material_icon.md_24.redeem.css_class("md-light") 
		= t("model.singular.#{controller_name.singularize}")
.listing-show-body.card{ resize: true , style: "height: {{windowHeight}}px;" }	
	.card-image
		- if @offer.image?
			= image_tag @offer.image
	%ul.list
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.code")
			.display-value= @offer.code
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.title")
			.display-value= @offer.title
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.date_begin")
			.display-value= @offer.date_begin
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.date_end")
			.display-value= @offer.date_end
		%li.list-row
			.display-label= t("model.#{controller_name.singularize}.attributes.description")
			.display-value= @offer.description
	

:javascript
	$(".modal-trigger").leanModal();
	$('.tooltipped').tooltip({delay: 1});
