%tr{ id: "row-#{offer.id}" }
	- if can? :destroy_multiple, Offer
		%td.item-check{style:"width: 10%"}
			= link_to "", package_offer_path(params[:package_id], offer), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{offer.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{offer.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{offer.id}" }

	%td{style:"width: 10%"}
		= link_to "", package_offer_path(params[:package_id], offer, search: @query), remote: true, class: "show-row"
		%span
			= offer.code
	%td{style:"width: 80%"}
		= link_to "", package_offer_path(params[:package_id], offer, search: @query), remote: true, class: "show-row"
		%span
			= offer.title
								
	%td{style:"width: 5%"}		
		= link_to package_offer_path(params[:package_id], offer, search: @query), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")