= title("Offers - Listado")
//change header information
= header_information do
	= link_to "Paquetes", packages_path
	= "> #{@package.title.humanize}"
.listing.col.l9.m12.s12
	- if can? :new, model
		= link_to new_package_offer_path, class: "btn-floating btn-large waves-effect waves-light teal btn-new hide-on-small-only", "data-no-turbolink" => true do
			= material_icon.md_24.add
	= entries(@total, @objects)
	%table.bordered
		%tbody
			- @objects.each do |offer|
				= render 'listing', offer: offer
			- if @objects.size.zero?
				%tr
					%td{colspan: "4"}
						%center
							No se han encontrado offers.
	= paginate @objects, window: 1

.listing-show.col.l3.m12.hide-on-small-and-down.hide-on-med-and-down
	= render "description"

- if can? :new, model
	= link_to new_package_offer_path, class: "btn-index-add btn-floating btn-large teal waves-effect waves-light red", "data-no-turbolink" => true do
		= material_icon.md_24.add.css_class("md-light")
