= title "Offers | #{@offer.id}"
= header_information do
	= link_to "Paquetes", packages_path
	= "> #{@package.title.humanize}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Offer
				= link_to package_offer_path(params[:package_id], @offer), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Offer
				= link_to edit_package_offer_path(params[:package_id],@offer), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar", "data-no-turbolink" => true do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to package_offers_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.code")
					.display-value.fs-body-1.tc-black-2= @offer.code.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.title")
					.display-value.fs-body-1.tc-black-2= @offer.title.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= @offer.description.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.date_begin")
					.display-value.fs-body-1.tc-black-2= @offer.date_begin.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.date_end")
					.display-value.fs-body-1.tc-black-2= @offer.date_end.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.superior_price")
					.display-value.fs-body-1.tc-black-2= "$#{@offer.superior_price}"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.standard_price")
					.display-value.fs-body-1.tc-black-2= "$#{@offer.standard_price}"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.budget_price")
					.display-value.fs-body-1.tc-black-2= "$#{@offer.budget_price}"
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.days")
					.display-value.fs-body-1.tc-black-2= @offer.days.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.night")
					.display-value.fs-body-1.tc-black-2= @offer.night.to_s.humanize
