%tr{ id: "row-#{discount.id}" }
	- if can? :destroy_multiple, Discount
		%td.item-check{style:"width: 10%"}
			= link_to "", discount_path(discount), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{discount.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{discount.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{discount.id}" }

		%td{style:"width: 30%"}
			= link_to "", discount_path(discount, search: @query), remote: true, class: "show-row"
			%span
				= discount.code
		%td{style:"width: 30%"}
			= link_to "", discount_path(discount, search: @query), remote: true, class: "show-row"
			%span
				= "#{discount.full_percentage}%"

	%td{style:"width: 5%"}
		= link_to discount_path(discount), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")