= title "Discounts | #{@discount.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Discount
				= link_to discount_path(@discount), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")
			- if can? :update, Discount
				= link_to edit_discount_path(@discount), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to discounts_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.card
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.code")
					.display-value.fs-body-1.tc-black-2= @discount.code
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.percentage")
					.display-value.fs-body-1.tc-black-2= "#{@discount.full_percentage}%"
