.container
	.banner-weather
		.banner-weather-container
			.center
				.banner-weather-text
					Find out the weather conditions of your trip
					%a.btn-oceanica{href: "http://www.windfinder.com/forecast/los_roques_cayo_el_muerto", target: "_blank"}
						Here					
