/ Modal
.room-modal.modal.fade{id:"package-modal-#{room.name.downcase}", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-title
				= "#{room.name} Accommodation"
			.carousel.slide{id:"modal-image-#{room.name.downcase}", "data-ride" => "carousel"}
				.carousel-inner{:role => "listbox"}
					- room.room_covers.each_with_index do |cover, index|
						.item.modal-image-item{class: "#{ index.zero? ? 'item modal-image-item active' : 'item modal-image-item'}", style: "background-image: url(#{cover.url});"}
				%a.left.carousel-control{"data-slide" => "prev", :href => "#modal-image-#{room.name.downcase}", :role => "button"}
					%span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
					%span.sr-only Previous
				%a.right.carousel-control{"data-slide" => "next", :href => "#modal-image-#{room.name.downcase}", :role => "button"}
					%span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
					%span.sr-only Next

			.modal-text
				= room.description


			.modal-footer
				%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

:javascript
	$('.modal-image-#{room.name.downcase}').carousel();
	$("#package-modal-#{room.name.downcase}").on('shown.bs.modal', function (e) {
		$('.modal-image-#{room.name.downcase}').carousel();
	})