.wrapper
	.wrapper-body.container
		.actions
			= link_to activities_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark")
		.wrapper-inputs
			.card
				= simple_form_for @activity do |f|
					.row
						= f.input :name						
						= f.input :description, input_html: { class: "materialize-textarea" }
						= f.input :price

						.form-actions.right
							= f.button :submit, "Guardar", class: "btn"
