%tr{ id: "row-#{activity.id}" }
	- if can? :destroy_multiple, Activity
		%td.item-check{style:"width: 10%"}
			= link_to "", activity_path(activity), remote: true, class: "show-row"
			%input{ type:"checkbox", class: "filled-in", id: "checkbox-#{activity.id}", 'checklist-model'=>"check", 'checklist-value'=>"#{activity.id}", "ng-click"=>"selectByCheck(#{@objects.size})"}
			%label{ for: "checkbox-#{activity.id}" }

		%td{style:"width: 50%"}
			= link_to "", activity_path(activity, search: @query), remote: true, class: "show-row"
			%span
				= activity.name
		%td{style:"width: 30%"}
			= link_to "", activity_path(activity, search: @query), remote: true, class: "show-row"
			%span
				= "$#{activity.price}"
								
	%td{style:"width: 5%"}		
		= link_to activity_path(activity), class: "btn-floating waves-effect btn-flat" do
			= material_icon.md_24.more_horiz.css_class("md-dark")