= title "Activities | #{@activity.id}"
.wrapper
	.wrapper-body.container
		.actions
			- if can? :delete, Activity
				= link_to activity_path(@activity), class: "btn-floating btn-flat right tooltipped", "data-position" => "bottom", "data-tooltip" => "Eliminar", method: :delete, data: { confirm: 'Are you sure?' } do
					= material_icon.md_18.delete.css_class("md-dark")	
			- if can? :update, Activity
				= link_to edit_activity_path(@activity), class: "right btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Editar" do
					= material_icon.md_18.create.css_class("md-dark")
			= link_to activities_path, class: "btn-floating btn-flat tooltipped", "data-position" => "bottom", "data-tooltip" => "Volver" do
				= material_icon.md_18.arrow_back.css_class("md-dark") 
		.card			
			%ul.list
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.name")
					.display-value.fs-body-1.tc-black-2= @activity.name.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.description")
					.display-value.fs-body-1.tc-black-2= @activity.description.to_s.humanize
				%li.list-row
					.display-label= t("model.#{controller_name.singularize}.attributes.price")
					.display-value.fs-body-1.tc-black-2= "$#{@activity.price}"
